aside.topbar 
  .topbar-search 
    img.topbar-search-left(src="./images/icon-search.svg")
    input.topbar-search-input(type="text", placeholder="Search 2+ million podcasts and listeners")
  .topbar-right 
    .topbar-right-upload
      img.topbar-right-upload-icon(src="./images/icon-upload.svg")
      span.topbar-right-upload-text Upload
    .topbar-right-message 
      img.topbar-right-message-icon(src="./images/icon-message.svg")
    .topbar-right-notification
      img.topbar-right-notification-icon(src="./images/icon-notification.svg")
    .topbar-right-profile
      img.topbar-right-profile-icon(src="./images/avatar.png")